* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.graph-editor-container {
  padding: 20px;
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
}

.graph-editor-header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  font-family: monospace;
  font-size: large;
  margin-bottom: 20px;
}

.graph-editor-navbar {
  width: 100%;
  max-height: 50px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.add-vertex-button {
  padding: 8px 16px;
  background-color: #008CBA;
  margin: 0px 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 140px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.add-vertex-buttonCheck {
  padding: 8px 16px;
  background-color: #0073e6;
  width: 140px;
  color: white;
  margin: 0px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.add-vertex-button:hover {
  background-color: #0073e6;
}

.remove-button {
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  margin: 0px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 210px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.remove-buttonCheck {
  padding: 8px 16px;
  background-color: #d32f2f;
  color: white;
  margin: 0px 10px;
  border: none;
  width: 210px;

  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #d32f2f;
}

.clear-button {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  margin-right: 10px;
  border: 1px solid #28a745;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #218838;
  border-color: #218838;
}

.clear-button:active {
  background-color: #1e7e34;
  border-color: #1e7e34;
}


.checkbox-wrapper {
  padding: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  color: #333333;
  margin: 0px 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.checkbox-wrapper input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked {
  border-color: #0073e6;
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"]::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #0073e6;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
}

.checkbox-wrapper label {
  color: #333333;
  cursor: pointer;
}

.checkbox-wrapper:hover input[type="checkbox"],
.checkbox-wrapper label:hover {
  border-color: #0073e6;
}

.func-input {
  padding: 8px 16px;
  background-color: #f9f9f9;
  color: #333333;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline-color: #cccccc;
}

.func-button {
  padding: 8px 16px;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.func-button:hover {
  color: white;
  background-color: black;
}